@font-face {
    font-family: 'OnlinePrivileges';
    src: url('/OnlinePrivileges.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Enterpriser';
    src: url('/Enterpriser.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Typewriter';
    src: url('/TypewriterzDemoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }